*, *::before, *::after { box-sizing: border-box; }
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li, form, button, input, textarea {
  margin: 0;
  padding: 0;
}
html { scroll-behavior: initial; -webkit-text-size-adjust: 100%; }
body { min-height: 100vh; line-height: 1.5; }
img, picture, video, canvas, svg { display: block; max-width: 100%; }
input, button, textarea, select { font: inherit; }
a { text-decoration: none; color: inherit; }
ul, ol { list-style: none; }
button { cursor: pointer; }
