@use '../../../styles/base/variables' as *;

.theme-toggle {
  width: 52px;
  height: 30px;
  border-radius: $radius-pill;
  background: var(--border);
  position: relative;
  border: none;
  cursor: pointer;
  transition: $transition-base;
  flex-shrink: 0;

  .thumb {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--bg-alt);
    display: grid;
    place-items: center;
    font-size: 0.75rem;
    transition: $transition-base;
    box-shadow: var(--shadow);

    &.thumbDark {
      left: calc(100% - 27px);
    }
  }
}
